<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Course Sections - Enrollment System</title>
</head>
<body>
<p th:if="${message != null}" th:text="${message}"></p>
<p th:if="${error != null}" th:text="${error}"></p>
<h1>Your Classes</h1>
<table>
    <thead>
    <tr>
        <th>Section</th>
        <th>Course</th>
        <th>Course Name</th>
        <th>Faculty</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="classes: ${student_classes}">
        <td th:text="${classes[0]}"></td>
        <td th:text="${classes[1]}"></td>
        <td th:text="${classes[2]}"></td>
        <td th:text="${classes[3]}"></td>
    </tr>
    </tbody>
</table>
<hr>
<h1 th:text="|View Course Sections (${course})|"></h1>
<table>
    <thead>
        <tr>
            <th>Class Nbr</th>
            <th>Course</th>
            <th>Section</th>
            <th>Faculty</th>
            <th>Enrl Cap</th>
            <th>Enrolled</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="section: ${course_sections}">
            <td th:text="${section[0]}"></td>
            <td th:text="${section[1]}"></td>
            <td th:text="${section[2]}"></td>
            <td th:text="${section[3]}"></td>
            <td th:text="${section[4]}"></td>
            <td th:text="${section[5]}"></td>
            <td>
                <form th:action="|/courses/${section[1]}/enroll|" method="post">
                    <input type="hidden" name="sectionId" th:value="${section[0]}">
                    <button type="submit">Enlist</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>