<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Courses - Enrollment System</title>
</head>
<body>
<p th:if="${error != null}" th:text="${error}"></p>
<h1>Your Classes</h1>
<table>
    <thead>
        <tr>
            <th>Section</th>
            <th>Course</th>
            <th>Course Name</th>
            <th>Faculty</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="classes: ${student_classes}">
            <td th:text="${classes[1]}"></td>
            <td th:text="${classes[2]}"></td>
            <td th:text="${classes[3]}"></td>
            <td th:text="${classes[4]}"></td>
            <td>
                <form th:action="@{/courses/drop}" method="post">
                    <input type="hidden" name="sectionId" th:value="${classes[0]}">
                    <button type="submit">Drop</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
<hr>
<h1>View Courses</h1>
<table>
    <tr th:each="courses: ${courses}">
        <td th:text="${courses.courseId}"></td>
        <td><a th:href="|/courses/${courses.courseCode}/sections|" th:text="${courses.courseCode}"></a></td>
        <td th:text="${courses.courseName}"></td>
    </tr>
</table>
</body>
</html>