<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Grades - Enrollment System</title>
</head>
<body>
<p th:if="${error != null}" th:text="${error}"></p>
<h1>View Grades</h1>
<table>
    <thead>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Grade</th>
        <th>Unit(s)</th>
    </thead>
    <tbody>
        <tr th:each="grades: ${grades}">
            <td th:text="${grades[0]}"></td>
            <td th:text="${grades[1]}"></td>
            <td th:text="${grades[2]}"></td>
            <td th:text="${grades[3]}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>