<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Faculty - Enrollment System</title>
</head>
<body>
<h1>Faculty Home</h1>
<a href="/logout?next=%2Ffaculty">Logout</a>
<hr>
<h2>Your Classes</h2>
<table>
    <tr th:each="class: ${classes}">
        <td><a th:text="|${class[0]}-${class[1]}|" th:href="|/faculty/grade?course=${class[0]}&amp;section=${class[1]}"></a></td>
    </tr>
</table>
</body>
</html>